.body {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.header, .footer {
    background-color:#1f2937;
    flex: 0 1 auto;
}
.main {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}
.top-menu, .presentation {
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
.logo, .links {
    flex: 0 1 auto;
}
.presentation {
    color:rgb(255, 255, 255);
    margin: 30px;
}
.information {
    text-align: center;
}
.quotes {
    background-color: #e5e7eb;
    text-align: center;
    min-height: 10vh;
}
.call-to-action {
    align-self: center;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: #3b82f6;
    width:70vh;
}
.call-to-action .sign-up {
    flex: 0 1 auto;
}
.footer {
    text-align:center;
    color:white;
    min-height: 5vh;
}